# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/
reports/

# Test reports
test-results/
tests-results/

# Playwright
playwright-report/
blob-report/

# Environment files
.env

# IDE
.idea/
.vscode/

# macOS
.DS_Store

